<footer class="footer">
    <!-- {{- partial "nav-dock.html" . -}} -->
    <div class="footer-links">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>

        <ul>
            <li><a href="https://x.com/frrrnd" target="_blank">𝕏</a></li>
            <li><a href="https://layers.to/fer" target="_blank">Layers</a></li>
        </ul>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    hljs.highlightAll();
</script>
</div><!--wrap-->